body {
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #373434;
}

#intro-screen {
    background-image: url('images/background.png');
    background-color: rgb(159, 25, 25);
    width: 80vw;
    padding: 20px;
    
}

button{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

#game-screen{
    display: none;
}